apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    uid: prometheus
    jsonData:
      httpMethod: POST
      manageAlerts: true
      prometheusType: Prometheus

  - name: ClickHouse
    type: grafana-clickhouse-datasource
    access: proxy
    url: http://clickhouse:8123
    uid: clickhouse
    jsonData:
      defaultDatabase: ipquality
      host: clickhouse
      port: 9000
      protocol: native
      username: default
    secureJsonData:
      password: ''
